<div id="toolbar" fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">
    <div class="block">
        <h2>MyStore</h2>


    </div>
</div>



<!-- ================================================================================================================================== -->

<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header style="padding-left: 20px;">
            <mat-card-title> Electrinics </mat-card-title>
        </mat-card-header>

        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayout.xs="column">
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=manju0e2-21&marketplace=amazon&amp;region=IN&placement=B09CGJFY5N&asins=B09CGJFY5N&linkId=39bcc952b9beedaaeeaf8eeec5170f75&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=manju0e2-21&marketplace=amazon&amp;region=IN&placement=B08ZJSQGJZ&asins=B08ZJSQGJZ&linkId=d17f0834369f0782b69ae1288090f725&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=manju0e2-21&marketplace=amazon&amp;region=IN&placement=B08PDGRR32&asins=B08PDGRR32&linkId=a2baa166bfc475d062d5acccc56fa8e1&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=manju0e2-21&marketplace=amazon&amp;region=IN&placement=B08R95V5WS&asins=B08R95V5WS&linkId=3a7699ed3805be8b2af866061579adf8&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=manju0e2-21&marketplace=amazon&amp;region=IN&placement=B08L4QTR1V&asins=B08L4QTR1V&linkId=46ade344bab626db9c6f6a9f19332ca4&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=manju0e2-21&marketplace=amazon&amp;region=IN&placement=B07FPLKKCS&asins=B07FPLKKCS&linkId=c6f4d61b45b00e095c639ba01b3b6f2b&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=manju0e2-21&marketplace=amazon&amp;region=IN&placement=B08DDTG2XX&asins=B08DDTG2XX&linkId=9af177622ff7794738cb4bcf49774a21&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>
                </mat-card>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- <hr>
  
  <div fxLayout="row wrap">
    <div class="item1">1. One</div>
    <div class="item1">2. Two</div>
    <div class="item1">3. Three</div>
    <div class="item1">4. Four</div>
  </div>
  
  <hr> -->

<!-- ================================================================================================================================== -->

<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header style="padding-left: 20px;">
            <mat-card-title> Grocery | Pantry </mat-card-title>

        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.xs="column">
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=manju0e2-21&marketplace=amazon&amp;region=IN&placement=B00TS89BSW&asins=B00TS89BSW&linkId=bc13e56e421dc97823f1b2b856d6be54&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=manju0e2-21&marketplace=amazon&amp;region=IN&placement=B01LNA2MQK&asins=B01LNA2MQK&linkId=a91c282e8b72f2475f6142f96a7982a8&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=manju0e2-21&marketplace=amazon&amp;region=IN&placement=B00NWFVVG2&asins=B00NWFVVG2&linkId=c20c216d4d85b582e890461dd25cc984&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B002T68LP4&asins=B002T68LP4&linkId=5a20d33700aaed360540ae3c2306cd9e&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B00GLDPBJK&asins=B00GLDPBJK&linkId=5225382f87180a04bcac8478e308657a&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B0728C7X7G&asins=B0728C7X7G&linkId=d8c7cef48edd7faf52f7ee25801b037a&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B00L141L2K&asins=B00L141L2K&linkId=b89755a47bd1d5ba54673b32f7ae01eb&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->


<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header style="padding-left: 20px;">
            <mat-card-title> Furniture | Outdoors | DIY & Tools </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.xs="column">
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B07JQQP7YQ&asins=B07JQQP7YQ&linkId=891f5e60da36ac35777bd4ea9d9a4bd9&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B091CYDLW3&asins=B091CYDLW3&linkId=b9d5ebf84052f23d1b4d0c3229bb6af1&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B015INI2TE&asins=B015INI2TE&linkId=e66730ef77a70bd884f944634674f00e&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08X6965MF&asins=B08X6965MF&linkId=ce4e282bede0a28a69df29b4ec20209a&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B07RSZD7Q9&asins=B07RSZD7Q9&linkId=a4b17f2e013962763e78b20886cdfd1c&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B09K7827ZB&asins=B09K7827ZB&linkId=0e1f40dc3f77344bd71cf05188b05b18&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                        frameborder="0"
                        src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B093WVFSCB&asins=B093WVFSCB&linkId=6d5275960c7226d5634cd5a6c1fb8e29&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->


<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header style="padding-left: 20px;">
            <mat-card-title> Automotive | Lawn & Garden | Sports </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.xs="column">
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08BCTC47Y&asins=B08BCTC47Y&linkId=1e68828f8049fc2eb8325af2b2eb0a22&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B09MG5Y1R4&asins=B09MG5Y1R4&linkId=03e90a2f947ac833876da51c8b1085b2&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08SWQ3KCK&asins=B08SWQ3KCK&linkId=ca1e64b5d6f4127e37e0eaaaa04b4eb9&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B07PP3LCLN&asins=B07PP3LCLN&linkId=3d4862ee9e8a4945c9e0d47eeb8c5b10&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08MWF3TGK&asins=B08MWF3TGK&linkId=c768b5d301a595aabbac0c4255dd822b&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B07JW9FN2P&asins=B07JW9FN2P&linkId=16cb4ba1cfd233366ead7fe91bb9e2c2&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08DVB2SMZ&asins=B08DVB2SMZ&linkId=32710bb941775ffe452b8387539e65ff&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->


<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header style="padding-left: 20px;">
            <mat-card-title> Apparel & Accessories | Luggage & Bags | Watches | Shoes </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.xs="column">
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08FCQ4YTG&asins=B08FCQ4YTG&linkId=c2cda696366458affd3289e47fceed5c&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B082BBX2C9&asins=B082BBX2C9&linkId=41b96d163a7bfcae8df10a53ad130e57&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B075MMWRW6&asins=B075MMWRW6&linkId=fd5b1aa7949f6b3d5bfb66d36f4d8e59&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08W29ZW6S&asins=B08W29ZW6S&linkId=3c544fbcf6695fb7ce049b5a9b94a9e4&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B01N359CBI&asins=B01N359CBI&linkId=730aa14a983370f884f9bdfb6dde80a3&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B07B6JD5ZH&asins=B07B6JD5ZH&linkId=1f840345ba983540eac37c18a732824e&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B07NDDX59T&asins=B07NDDX59T&linkId=94983967ab513f47267826e9a67e5ad7&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->


<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header style="padding-left: 20px;">
            <mat-card-title> Mobile Accessories | Musical Instruments </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.xs="column">
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08JQN8DGZ&asins=B08JQN8DGZ&linkId=5c88a095bd6711355e0055f8bfcc31f2&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08TV2P1N8&asins=B08TV2P1N8&linkId=9a6d31a220863db33bba23764154b986&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B07N3YF7DY&asins=B07N3YF7DY&linkId=711f4f24f2068079409aca2d8293fa6a&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08GYKNCCP&asins=B08GYKNCCP&linkId=bd8b332440d6b8d365292b16e54d9039&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08L5FM4JC&asins=B08L5FM4JC&linkId=3b08f6a1627c7c30ee3c1df436a22f25&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B07GTY675W&asins=B07GTY675W&linkId=3c681f801fecf87b0b73a4753e119cdb&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
                <mat-card id="item">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=manju0e2-21&language=en_IN&marketplace=amazon&region=IN&placement=B08PL6R4JG&asins=B08PL6R4JG&linkId=685b4d556972511fe1d1b42d18b9e75e&show_border=true&link_opens_in_new_window=true"></iframe>
                </mat-card>
            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->


<!-- <div id="item-container">
  
    <mat-card id="item-type">
  
      <mat-card-header style="padding-left: 20px;">
        <mat-card-title> Bicycles & Heavy Gym Equipment | Tyres & Rims </mat-card-title>
      </mat-card-header>
  
      <mat-card-content style="width: 100%;padding-left: 20px;">
  
        <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.xs="column">
          <mat-card id="item"></mat-card>
          <mat-card id="item"></mat-card>
          <mat-card id="item"></mat-card>
          <mat-card id="item"></mat-card>
          <mat-card id="item"></mat-card>
          <mat-card id="item"></mat-card>
          <mat-card id="item"></mat-card>
        </div>
  
      </mat-card-content>
  
      <mat-card-actions> </mat-card-actions>
  
    </mat-card>
  
  </div> -->

<!-- =================================================================================================================================== -->

<div id="footer">

</div>



<!-- =================================================================================================================================== -->