<div id="toolbar" fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column" class="block">
    <div fxFlex="70">
        <h2>MyStore</h2>
    </div>
</div>

<!-- ================================================================================================================================== -->

<div id="item-container">
    <mat-card id="item-type">
        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Mobile </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 30px;">

            <div  fxLayout="row wrap" fxLayoutGap="20px" fxLayout.ms="column">

                <div id="item" *ngFor = "let item of mobile">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no" 
                            frameborder="0" 
                            [src]="item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- ================================================================================================================================== -->

<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Grocery </mat-card-title>

        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">
                <div id="item" *ngFor = "let item of grocery">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no" 
                            frameborder="0"
                            [src]="item.url | safe">
                    </iframe>
                </div>
            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->


<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Furniture </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">
                <div id="item" *ngFor = "let item of furniture">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->


<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Earphone </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">

                <div id="item" *ngFor = "let item of earphone">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->


<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Laptop </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">

                <div id="item" *ngFor = "let item of laptop">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->


<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Television </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">
                <div id="item"  *ngFor = "let item of television">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->

<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Speaker </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">

                <div id="item" *ngFor = "let item of speaker">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->

<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Camera </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">

                <div id="item" *ngFor = "let item of camera">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->

<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Computer Accessories </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">

                <div id="item"  *ngFor = "let item of computerAccessories">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->

<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Home Accessories </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">

                <div id="item" *ngFor = "let item of homeAccessories">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->

<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Women's Fashion </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">

                <div id="item" *ngFor = "let item of womensFashion">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->

<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Men's Fashion </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">

                <div id="item" *ngFor = "let item of mensFashion">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->

<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Kid's Fashion </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">

                <div id="item" *ngFor = "let item of kidsFashion">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->

<div id="item-container">

    <mat-card id="item-type">

        <mat-card-header id="all-mat-card-header">
            <mat-card-title> Sports </mat-card-title>
        </mat-card-header>

        <mat-card-content style="width: 100%;padding-left: 20px;">

            <div fxLayout="row wrap" fxLayoutGap="25px" fxLayout.ms="column">

                <div id="item" *ngFor = "let item of sports">
                    <iframe style="width:120px;height:240px;" 
                            marginwidth="0" 
                            marginheight="0" 
                            scrolling="no"
                            frameborder="0"
                            [src] = "item.url | safe">
                    </iframe>
                </div>

            </div>

        </mat-card-content>

        <mat-card-actions> </mat-card-actions>

    </mat-card>

</div>

<!-- =================================================================================================================================== -->

<div id="footer">

</div>

<!-- =================================================================================================================================== -->